    <style>
        ._customer-project-container {
            position: relative;
            margin: 0 ;
            max-width: 1227px;
            box-sizing: border-box;
            overflow: hidden;
            padding: 0;
        }
        ._customer__section {
            padding: 0;
        }
        ._customer__slider,
        ._customer__project-info {
            display: inline-block;
            vertical-align: top;
        }
        ._customer__project-info {
            width: calc(100% - 660px);
        }
        ._customer__slider {
            width: 573px;
            margin-right: 55px;
            margin-bottom: 5px;
        }
        ._customer__slider-big {
            position: relative;
            width: 573px;
            height: 400px;
            box-sizing: border-box;
            overflow: hidden;
        }
        ._customer__slider-left {
            position: absolute;
            content: '';
            display: block;
            width: 40px;
            height: 50px;
            left: 0;
            top: 50%;
            margin-top: -25px;
            background: rgba(0,0,0,0.3) url("/system/ckeditor_assets/pictures/121999/content_content_arrow-white-left.png") no-repeat center;
            cursor: pointer;
        }
        ._customer__slider-right {
            position: absolute;
            content: '';
            display: block;
            width: 40px;
            height: 50px;
            right: 0;
            top: 50%;
            margin-top: -25px;
            background: rgba(0,0,0,0.3) url("/system/ckeditor_assets/pictures/122000/content_content_arrow-white-right.png") no-repeat center;
            cursor: pointer;
        }
        ._customer__slider-zoom {
            position: absolute;
            content: '';
            display: block;
            width: 50px;
            height: 50px;
            left: 50%;
            top: 50%;
            margin-left: -25px;
            margin-top: -25px;
            background: rgba(0,0,0,0.3) url("/system/ckeditor_assets/pictures/121998/content_content_zoom.png") no-repeat center;
            cursor: pointer;
        }
        ._customer__slider-big img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }

        ._customer__slider-prev {
            display: flex;
            justify-content: space-between;
            margin-top: 12px;
        }
        ._customer__prev-img  {
            display: inline-block;
            width: 120px;
            height:76px;
            overflow: hidden;
            box-sizing: border-box;
        }
        ._customer__prev-img img {
            width: 100%;
            height: 100%
        }
        ._customer__proj-ttl {
            font-size: 13px;
            font-family: 'Arial', sans-serif;
            color: #999999;
            margin: 25px 0 0 0!important;
        }
        ._customer__proj-info {
            font-size: 18px;
            font-family: 'Arial', sans-serif;
            color: #333;
            margin: 5px 0 30px 0!important;
        }
        ._customer__ttl {
            font-size: 22px;
            color: #333;
            font-family: 'Arial', sans-serif;
            font-weight: bold;
            margin: 50px 0 22px 0!important;
        }
        ._customer__cnt {
            font-size: 15px;
            line-height: 26px!important;
            color: #666;
            font-family: 'Arial', sans-serif;
            margin: 0!important;
        }
        @media screen and (max-width: 1023px){
            ._customer__section {
                padding: 0 10px;
            }
            ._customer__slider {
                display: block;
                width: 570px;
            }
            ._customer__slider-big {
                width: 100%;
                height: auto;
            }
            ._customer__project-info {
                display: block;
                margin: 20px 0 0 25px;
                width: 100%;
            }
        }
        @media screen and (max-width: 639px) {
            ._customer__slider {
                width: 100%;
            }
            ._customer__slider-prev {
                display: block;
            }
            ._customer__prev-img {
                margin-right: 7px;
                margin-bottom: 7px;
            }
        }
    </style>

<div class="_customer-project-container">
    <div class="_customer__section">
        <div class="_customer__cols">
            <div class="_customer__slider">
                <div class="_customer__slider-big">
                    <a class="image-wrapper fancybox" href="/system/ckeditor_assets/pictures/121997/content_image4-1.jpg" rel="gallery18735">
                        <span class="_customer__slider-left"></span>
                        <span class="_customer__slider-zoom"></span>
                        <img class="iw-img" src="/system/ckeditor_assets/pictures/121997/content_image4-1.jpg">
                        <span class="_customer__slider-right"></span>
                    </a>
                </div>
                <div class="_customer__slider-prev">
                    <div class="_customer__prev-img">
                        <a class="image-wrapper fancybox" href="/system/ckeditor_assets/pictures/121997/content_image4-1.jpg" rel="gallery18735">
                            <img class="iw-img" src="/system/ckeditor_assets/pictures/121997/content_image4-1.jpg">
                        </a>
                    </div>
                    <div class="_customer__prev-img">
                        <a class="image-wrapper fancybox" href="/system/ckeditor_assets/pictures/121997/content_image4-1.jpg" rel="gallery18735">
                            <img class="iw-img" src="/system/ckeditor_assets/pictures/121997/content_image4-1.jpg">
                        </a>
                    </div>
                    <div class="_customer__prev-img">
                        <a class="image-wrapper fancybox" href="/system/ckeditor_assets/pictures/121997/content_image4-1.jpg" rel="gallery18735">
                            <img class="iw-img" src="/system/ckeditor_assets/pictures/121997/content_image4-1.jpg">
                        </a>
                    </div>
                    <div class="_customer__prev-img">
                        <a class="image-wrapper fancybox" href="/system/ckeditor_assets/pictures/121997/content_image4-1.jpg" rel="gallery18735">
                            <img class="iw-img" src="/system/ckeditor_assets/pictures/121997/content_image4-1.jpg">
                        </a>
                    </div>
                </div>
            </div>

            <div class="_customer__project-info">
                <p class="_customer__proj-ttl">Объект</p>
                <p class="_customer__proj-info">Торговый центр «СТРОЙМАРКЕТ»</p>
                <p class="_customer__proj-ttl">Месторасположение</p>
                <p class="_customer__proj-info">Г. Назрань</p>
                <p class="_customer__proj-ttl"></p>
                <p class="_customer__proj-info"></p>
            </div>
        </div>
    </div>

    <div class="_customer__section">
        <p class="_customer__ttl">Используемая продукция</p>
        <p class="_customer__cnt" style="color:red;">Текст</p>
        <p class="_customer__ttl">Комплекс работ</p>
        <p class="_customer__cnt" style="color:red;">Текст</p>
    </div>
</div>
