    <style>
        ._customer-project-container {
            position: relative;
            margin: 0 ;
            max-width: 1227px;
            box-sizing: border-box;
            overflow: hidden;
            padding: 0;
        }
        ._customer__section {
            padding: 20px 0 20px;
            overflow: hidden;
        }
        ._customer__project {
            display: block;
            margin:auto;
        }
        ._customer__project-item {
            display: inline-block;
            vertical-align: top;
            position: relative;
            width: 30%;
            height: auto;
            max-height: 254px;
            margin: 1%;
            box-sizing: border-box;
        }
        ._customer__project-img-wrap {
            position: relative;
            width: 100%;
            height: 100%;
        }
        ._customer__project-img-wrap:after {
            position: absolute;
            content: '';
            right: 0;
            top: 0;
            left: 0;
            bottom: 0;
            background: linear-gradient(transparent, rgba(0,0,0,0.5));
        }
        ._customer__project-img {
            width: 100%;
            height: 100%!important;
            max-height: 254px!important;
            object-fit: cover;
            box-sizing: border-box;
        }
        ._customer__project-cnt {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0px;
            padding: 0 15px 18px;
        }
        ._customer__project-item:hover ._customer__project-img-wrap:after {
            background: rgba(0,0,0,0.5);
        }
        ._customer__cnt {
            color: #fff!important;
            font-size: 18px;
            font-family: 'Arial', sans-serif;
            margin: 0 0 2px 0 !important;
        }
        ._customer__cnt-note {
            color: rgba(255,255,255,0.5)!important;
            font-size: 15px;
            font-family: 'Arial', sans-serif;
            margin: 0!important;
        }
        @media screen and (max-width: 768px){
            ._customer__project-item {
                width: 46%;
            }
        }
        @media screen and (max-width: 479px){
            ._customer__project-item {
                width: 100%;
            }
        }
    </style>

<div class="_customer-project-container">
    <div class="_customer__section">
        <div class="_customer__project">

            <a href="/pages/10001-trk-kinokompleks-park" class="_customer__project-item">
                <div class="_customer__project-img-wrap">
                    <img src="/system/ckeditor_assets/pictures/121842/content_image1-1.jpg" class="_customer__project-img">
                </div>
                <div class="_customer__project-cnt">
                    <p class="_customer__cnt">ТРК &laquo;Кинокомплекс Парк&raquo;</p>
                    <p class="_customer__cnt-note">Адрес</p>
                </div>
            </a>

            <a href="/pages/10002-torgovo-promyshlennyy-kompleks" class="_customer__project-item">
                <div class="_customer__project-img-wrap">
                    <img src="/system/ckeditor_assets/pictures/121844/content_image2-1.jpg" class="_customer__project-img">
                </div>
                <div class="_customer__project-cnt">
                    <p class="_customer__cnt">Торгово-промышленный <br>комплекс</p>
                    <p class="_customer__cnt-note">Республика Ингушетия</p>
                </div>
            </a>

            <a href="/pages/10003-torgovo-promyshlennyy-kompleks-2" class="_customer__project-item">
                <div class="_customer__project-img-wrap">
                    <img src="/system/ckeditor_assets/pictures/121845/content_image3-1.jpg" class="_customer__project-img">
                </div>
                <div class="_customer__project-cnt">
                    <p class="_customer__cnt">Торгово-промышленный <br>комплекс</p>
                    <p class="_customer__cnt-note">Республика Ингушетия</p>
                </div>
            </a>

            <a href="/pages/10004-torgovyy-tsentr-stroymarket" class="_customer__project-item">
                <div class="_customer__project-img-wrap">
                    <img src="/system/ckeditor_assets/pictures/121846/content_image4-1.jpg" class="_customer__project-img">
                </div>
                <div class="_customer__project-cnt">
                    <p class="_customer__cnt">Торговый центр &laquo;СТРОЙМАРКЕТ&raquo;</p>
                    <p class="_customer__cnt-note">Г. Назрань</p>
                </div>
            </a>

            <a href="/pages/10005-logisticheskie-sklady" class="_customer__project-item">
                <div class="_customer__project-img-wrap">
                    <img src="/system/ckeditor_assets/pictures/121847/content_image5-1.jpg" class="_customer__project-img">
                </div>
                <div class="_customer__project-cnt">
                    <p class="_customer__cnt">Логистические склады</p>
                    <p class="_customer__cnt-note">Ростовская обл, п. Дорожный</p>
                </div>
            </a>

        </div>
    </div>
</div>
